.chat-box {
  border: 1px solid #30363D;
  border-top: none;
  font-size: 20px;
  padding: 0.5vw;
  height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: -48vh; /* Adjusted to make .chat-box extend to the top */
  position: relative;
  z-index: 2; /* Ensuring that .chat-box is above .App-header */
  -webkit-mask-image: linear-gradient(to bottom, transparent 0.1%, black 25%);
  mask-image: linear-gradient(to bottom, transparent 0.1%, black 25%);

}
.invisible-element {
  margin-top: 15vh;
  height: 51vh; /* or whatever height you prefer */
  display: block;
}

/* Scrollbar styling */
.chat-box::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.chat-box::-webkit-scrollbar-track {
  background-color: #30363D; /* Scrollbar track color */
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #58A6FF; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.chat-box::-webkit-scrollbar-thumb:hover {
  background-color: #1F6FEB; /* Scrollbar thumb color on hover */
}

.message {
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 70%;
  word-break: break-word;
  order: 1;
  font-size: 80%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transition: box-shadow 1s ease-in-out;
}

.message:hover, .message.bot:hover {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);
}

.message-actions {
    /* Your base styles for the class */
    position: absolute; /* Position it absolutely within its positioned parent */
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border: solid 1px;
    border-radius: 5px;
    margin: 5px;
    opacity: 0;
    /* Smooth transition for the size and opacity changes */
    transition: width 1s ease-in-out, height 1s ease-in-out, opacity 1s ease-in-out, box-shadow 2s ease-in-out;
    /* Set top and right to position the element within its container */
    bottom: 0; /* Align to the bottom of the container */
    right: 0;
    z-index: 1; /* Ensure it's above other elements */
}

.message:hover .message-actions {
    /* Expand size on hover and increase opacity */
    opacity: 1;
    max-width: 100px; /* Adjust as needed */
    max-height: 100px; /* Adjust as needed */


}

.message.user {
    /* Hide on hover */
    min-width: 10vw;
}

.message {
    position: relative; /* Set position relative for positioning of .message-actions */
}



.message:hover .copy-button-2 {
    /* Hide on hover */
    opacity: 1;
    height: auto;
    margin: auto;
    transform: scale(1); /* Enlarge the button */
}

.message .copy-button-2 {
    /* Hide on hover */
    opacity: 0;
    height: 0px;
}

.message .copy-button {
    /* Hide on hover */
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform;
}

.message:hover .copy-button {
    /* Hide on hover */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.message.bot {
  background-color: rgba(40, 40, 40, 0.95);
  border: 4px;
  align-self: flex-start;
  text-align:left;
  opacity: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 3;
}
.message.typing {
  background-color: #58A6FF;
  border: 4px;
  font-size: 12px;
  align-self: flex-start;
  text-align:left;
  opacity: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 6;
}

.message.user {
  color: white;
  border: solid #3FB950 1px;
  align-self: flex-end;
  text-align:right;
  opacity: 95%;
  background-color: #282c34;
  font-style: inherit;
}
.message p {
  margin: 0px;
  text-align: justify;
}
