.persona-settings {
   min-width: 300px;
   width: 50vw;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin: auto; /* Centers the element in the available space */
   margin-top: 10%;
}

.form-group {
  margin-bottom: 15px;
  max-width: 80vw;
}
.form-group-long {
  margin-bottom: 15px;
  max-width: 80vw;
}

.form-group textarea {
  width: 100%;
  box-sizing: border-box; /* Makes sure padding doesn't affect width */
  resize: vertical; /* Allows user to manually resize vertically */
}

.form-group-long textarea {
  width: 100%;
  height: 300px; /* This sets the height directly */
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 15px;
  /* Add !important to test specificity issues */
  height: 300px !important;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.right-button-container {
  position: absolute; /* or 'fixed' depending on your needs */
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
  height: 100%;
  width: 80px;;
  z-index: 1000;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s;
  padding: 5px;
  border-radius: 5px;
  float: right; /* Adjusted to float right */
  top: 6px;  /* Adjust this value so it's below the .persona-button-box */
  right: 10px;
  margin: 10px;
  z-index: 1000; /* Ensures it's above other content */
}

.brain-icon {
  font-size: 24px; /* Adjust the size as needed */
  color: #ffffff; /* Adjust the color as needed */
  cursor: pointer;
}

#addontxt {
  border-bottom: dashed 1px;
  border-radius: 0px;
  font-size: 70%;
}
