body {
  background-color: #0D1117;
  color: #C9D1D9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App * {
  border-radius: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#eeg {
  width: 50%;
  margin: auto;
}

#eeg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 30px auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.circle-200, .circle-150, .circle-100, .circle-50 {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.circle-200 {
    width: 57.14%; /* 200/350 * 100 */
    height: 57.14%; /* 200/350 * 100 */
}

.circle-150 {
    width: 42.86%; /* 150/350 * 100 */
    height: 42.86%; /* 150/350 * 100 */
}

.circle-100 {
    width: 28.57%; /* 100/350 * 100 */
    height: 28.57%; /* 100/350 * 100 */
}

.circle-50 {
    width: 3%; /* 50/350 * 100 */
    height: 3%; /* 50/350 * 100 */
}

.dynamic-circle {
    border-radius: 50%;
    background: green;
    position: absolute;
    z-index: 10;
    transition: width 1s ease-in-out, height 1s ease-in-out;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 1);
}

#band-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.band-checkbox {
  margin-right: 10px; /* Adjust the space between checkboxes */
}


.brain-icon-container.disabled {
  opacity: 0.1; /* 10% opacity */
}


#eeg-text {
  width: 90%;
  margin: auto;
  text-align: justify;
}
.right-button-container {
  position: absolute; /* or 'fixed' depending on your needs */
  top: 0; /* Align to the top */
  right: 0; /* Align to the right */
  height: 100%;
  width: 80px;;
  z-index: 1000;
}
#addontxt {
  border-bottom: dashed 1px;
  border-radius: 0px;
  font-size: 70%;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s;
  padding: 5px;
  border-radius: 5px;
  float: right; /* Adjusted to float right */

  top: 6px;  /* Adjust this value so it's below the .persona-button-box */
  right: 10px;
  margin: 10px;
  z-index: 1000; /* Ensures it's above other content */
}

.brain-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s;
  padding: 5px;
  border-radius: 5px;
  float: right; /* Adjusted to float right */
  position: absolute;
  top: 60px;  /* Adjust this value so it's below the .persona-button-box */
  right: 10px;
  margin: 10px;
  z-index: 1000; /* Ensures it's above other content */
}

.brain-icon-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.brain-icon {
  font-size: 24px; /* Adjust the size as needed */
  color: #ffffff; /* Adjust the color as needed */
  cursor: pointer;
}

/* Additional styling for any text or labels you might have inside the .brain-icon-container */
.brain-icon-container span {
  font-size: 0.75rem;
  color: #ffffff;
}


.hover-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%; /* Positioning right below the icon */
}

.brain-icon-container:hover .hover-content {
  display: block; /* Show content on hover */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

t {
  font-size: 2vw;
  margin: 0px;
  opacity: 61%;
}
h1 {
  margin-bottom: 0px;
}
@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.typing-dot {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
}

.typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  top: 0;
  z-index: 1; /* Ensuring that .App-header is below .chat-box */
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Remove bottom margin */
}


.App-link {
  color: #1F6FEB;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s;
  padding: 5px;
  border-radius: 5px;
  float: left;
}

.button-box:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.button-box span {
  font-size: 0.75rem;
  color: #ffffff;
}

.persona-button-box {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 1000; /* or any high number */
}

.button-box .persona-button-box {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 1000; /* or any high number */
}

.clear-chat-button-box {
  position: absolute;
  top: 60px; /* Adjust this value based on the actual height of your buttons + desired margin */
  right: -6px;
  margin: 10px;
}


.persona-settings {
   min-width: 300px;
   width: 50vw;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin: auto; /* Centers the element in the available space */
   margin-top: 10%;
}

#editTulpa {
  float: right;
}
#edittcont {
  width: 100%;
  height: 5vh;
}

ul {
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
  max-width: 80vw;
}
.form-group-long {
  margin-bottom: 15px;
  max-width: 80vw;
}

.form-group textarea {
  width: 100%;
  box-sizing: border-box; /* Makes sure padding doesn't affect width */
  resize: vertical; /* Allows user to manually resize vertically */
}

.form-group-long textarea {
  width: 100%;
  height: 300px; /* This sets the height directly */
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 15px;
  /* Add !important to test specificity issues */
  height: 300px !important;
}


.form-group label {
  display: block;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.chat-sidebar {
  position: fixed;
  width: 250px;
  background-color:rgba(0, 0, 0, 0.01);
  top: 0;
  left: 0;
  height: 100vh; /* This makes sure the sidebar spans the full height of the viewport */
  overflow-y: auto; /* This adds a scrollbar if the content is too long */
  z-index: 10; /* Adjust the value as needed */
  backdrop-filter: blur(00px);
  transition: transform 0.3s ease-in-out, background-color 2s ease-in-out, backdrop-filter 1s ease-in-out;
  transform: translateX(-80%);
  overflow: hidden;
  border-radius: 0px;

}


.chat-sidebar:hover {
  transform: translateX(0);
  background-color:rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out, background-color 1s ease-in-out;

}

.chat-sidebar h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.chat-sidebar ul {
  list-style-type: none;
  text-align: left;
  height: 5vh;
  width: 100%;
}

.chat-sidebar li {
  margin: 0px;
  padding: 3px;
  cursor: pointer;
  height: 50px;
  width: 100%;
  border-radius: 0px 12px 12px 0px;
  margin-left: -45px;
  transition: border-radius 2s ease;
}

.chat-sidebar:hover li {
  border-radius: 0px;
}

.chat-sidebar li:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

.delete-chat-button {
  background-color: rgba(50, 50, 50, 0.5);
  border: none;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  float: left;
  display: flex; /* hide by default */
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 2s ease-in-out;
}
.chat-sidebar li:hover .delete-chat-button {
  visibility: visible;
  opacity: 1;
}

#sysp {
  padding: 20px;
  height: 49vw;
  white-space:normal;
  overflow: auto;
}

#chatnames {
  color: white;
  padding: 0%;
  opacity: 0;
  font-size: 150%;
}
.chat-sidebar:hover #chatnames {
  opacity: 1;
}
.chatnamesCont {
  color: blue;
  margin-left: 4%;
  margin-top: 7px;
  width: 61%;
  height: 100%;
  border-radius: 60px;
  padding: 0px;
  float: left;
  overflow:visible;
  white-space: nowrap; /* Prevent text wrapping */
  /* Add animation */
}

.selected-chat .chatnamesCont {
  animation: scrollText 5s linear infinite;
}



/* Keyframes for the scrolling text animation */
@keyframes scrollText {
  0% { transform: translateX(161%); }
  100% { transform: translateX(-200%); }
}


.chat-sidebar-header h3 {
  transition: opacity 0.3s;
}

.chat-sidebar-header button {
  border-radius: 5px;
  background-color: #00D1FF; /* cyberpunk blue */
}


.delete-chat-button:hover {
  background-color: #ff4949;
}

.delete-chat-button svg {
  width: 20px;
  height: 20px;
  color: white;
}

.selected-chat {
  background-color: #4CAF50;
  color:black;
  z-index: 0;
}


#chaticon {
  font-size: 5px;
  float: right;
  margin-top: 14px;
  margin-right: 10px;
  opacity: 0;
  z-index: 1000;
  transition: margin 1s ease,  opacity 2s ease;
}

/* Hide #chaticon by default when inside .chat-sidebar */
.chat-sidebar #chaticon:not(.selected-chat #chaticon) {
    visibility: hidden;
}

/* Show #chaticon when .chat-sidebar is hovered,
   but not if it's inside .selected-chat */
.chat-sidebar:hover #chaticon:not(.selected-chat #chaticon) {
    visibility: visible;

}

.chat-sidebar:hover #chaticon{
    margin-top: -4px;
    margin-right: 0px;
    opacity: 1;
}

.selected-chat #chaticon {
    opacity: 1;
}

.add-chat-button {
  width: 33%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.add-chat-button:hover {
  background-color: #e0e0e0;
}
/* This is an example, you may need to adjust the selector to match your setup */
pre code {
  white-space: pre-wrap !important;
  word-wrap: break-word;
  overflow-wrap: break-word !important;
  word-break: break-all;
  font-size: 80%;
}

pre {
  background-color: black !important;
  color: black;
}

.code-block-container {
  position: relative;
}

.copy-button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: #ddd;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: transform 0.15s ease;
}
.copy-button-2 {
  position:relative;
  float: right;
  right: 0;
  top: 0;
  height: 0px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(0); /* Enlarge the button */
  transition: transform 0.5s ease-in-out, height 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.copy-button-2:hover {
  background-color: #45a049;
}
.copy-button-2.clicked {
  background-color: #45a049;
  transform: scale(5); /* Enlarge the button */
  color:white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.copy-button.clicked {
  transform: scale(1); /* Enlarge the button */
  color:white;
  background-color: #58A6FF;
}

.copy-button-2.clicked {
  transform: scale(1); /* Enlarge the button */
  color:white;
  background-color: #58A6FF;
}


.code-block {
  /* Add any styles you want for your code block here */
  color: #67ff30;
  background-color: black;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

select {
  width: 61%;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  font-size: 161%;
  color: inherit;
  background-color: transparent;
  backdrop-filter: blur(5px);
}
select option {
  background-color: rgba(0, 0, 0, 1.0); /* or any other color */
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}


.chat-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 61vw;
  min-width: 700px;
  margin: 0 auto;
}

.infobar {
  border-bottom: solid 1px;
  border-radius: 0px;
  height: 6vh;
  opacity: 0;
  transform: translateY(-40%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.infobar:hover {
  opacity: 1;
  transform: translateY(0%);
}
.infostat  {
  width: 33%;
}
.infostattxt  {
  margin-top: -0vh;
}

.message-container {
  display: flex;
  flex-direction: column-reverse; /* Ensure new messages appear at the bottom */
}

.input-container {
  position: relative;
  margin-top: 2px;
  height: 8vh;
  width: 100%;

}

.textarea-button-container {
  position: relative;
}




.textarea-wrapper {
  position: relative;
  padding-left: 0px; /* Adjust as needed to create space for buttons */

  border: solid 1px;
  min-height: 2vh; /* Minimum height */
  max-height: 8vh; /* Maximum height - same as the wrapper */
  border-radius: 8px;
}


.buttons-container {
  position: absolute;
  top: 0; /* Align with the top of the textarea-wrapper */
  right: 10px; /* Adjust to place inside the textarea-wrapper */
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 2px;
}



#ChatInput {
  width: 100%; /* Adjust width to account for padding */
  height: 100%; /* Take full height of the wrapper */
  min-height: 2vh; /* Minimum height */
  max-height: 8vh; /* Maximum height - same as the wrapper */
  background: none;
  color: white;
  font-style: inherit;
  font-size: 15px;
  box-sizing: border-box;
  overflow-y: auto; /* Scroll vertically when content exceeds height */
  resize: none;
  border: none;
  padding-right: 0px; /* Right padding for button space */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
  margin-left: -0px;

  &:focus {
    outline: none;
  }
}


input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #30363D;
  color: #C9D1D9;
  background-color: #161B22;
  height: 3vw;
  font-size: 20px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #3FB950;
  color: #0D1117;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


button#send, button#mic {
  padding-top: 1vh;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  border: solid 0px;
  color: rgba(265, 265, 265, 0.5);
  background-color: rgba(0, 0, 0, 0);
  transition: margin-top 0.3s ease, margin-right 0.3s ease;
}

button#mic {
  border-left: solid 1px;

  border-color: rgba(265, 265, 265, 0.1);
}
button#send:hover, button#mic:hover {
  color: rgba(265, 265, 265, 0.95);
  transition: 1s;
  transition: margin-top 0.3s ease, margin-right 0.3s ease;

}




button#mic.listening {
  animation: pulse 2s infinite;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  border: solid 2px;
  border-radius: 100%;
  border-color: red;
  z-index: 100;
  position:static;
  overflow: hidden;

  transition: margin-top 0.3s ease, margin-right 0.3s ease;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



button:hover {
  background-color: #34A853;
}

.logo {
  height: 25vh; /* or whatever size you prefer */
  float: right;
  margin-top: 0px;
}
